---
layout: default
---

<!-- Unabridged post content -->
<div class="span-12 last">
  <article class="post">
    <p class="first">{{ page.title }}</p>
    <div class="post byline">
         {{ page.date | date: "%d %b, %Y" }} on {% for category in page.categories %}{% if category == page.categories.last and category != page.categories.first %} and {% elsif category != page.categories.first %}, {% endif %}<a href="/notebook.html?cat=cat-{{ category | replace:' ','-' }}">{{ category }}</a>{% endfor %}
    </div>
    <div class="post content">
      {{ content }}    
    </div>
  </article>

  <!-- Disqus Comments handling -->
  <p>
    <a href="javascript:toggleComments()" id="comment-toggle">Hide Comments</a> 
  </p>
  <div id="comments">
    <div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>

  {% include JB/comments %}
</div>